<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title center">Editing <%= @task.title %> <strong>(#<%= @task.id %>)</strong></h1>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Show', @task, class: "btn btn-default btn-sm" %> |
		<%= link_to 'Back', tasks_path, class: "btn btn-default btn-sm" %>
	</div>
</div>
